<nav class="navbar navbar-dark bg-dark navbar-expand-lg text-white">
    <div class="container py-2" >
        <a href="/" class="navbar-brand"> BerberBul </a>
        <button type="button "class="navbar-toggler" data-toggle="collapse" data-target='#navbar-berber' aria-controls="navbar">    
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-berber">
            <ul class="navbar-nav ml-auto" > 
                <li class="navbar-item px-3">  
                    <a href="/berber_ekle" class="nav-link text-white">Berberini Ekle</a>
                </li>
                 <li class="navbar-item px-3">  
                    <a href="/berber_bul" class="nav-link text-white">Berberini Bul</a>
                </li>
                <li class="navbar-item px-3">  
                    <a href="/berber_gecmisi" class="nav-link text-white">Berber Geçmişin</a>
                </li>
                 <li class="navbar-item px-3">  
                    <a href="/register" class="nav-link text-white">Kayıt Ol</a>
                </li>
                 <li class="navbar-item px-3">  
                    <a href="/login" class="nav-link text-white">Giriş Yap</a>
                </li>
            
            </ul>

        </div>
     </div>
</nav>