<section class="bg-yellow py-5" > 
    <div class="container"> 
     <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
         <div class="carousel-inner text-center">
                <div class="carousel-item-active">
                    <h1 class="display-3"> Neden  Olmuyor    </h1>            
              </div>       
             <div class="carousel-item">
                    <h1 class="display-3"> Berber1    </h1>            
              </div>       
               <div class="carousel-item">
                    <h1 class="display-3"> Berber2    </h1>            
              </div>    
                <div class="carousel-item">
                    <h1 class="display-3"> Berber3    </h1>            
              </div>    
         </div>
         <a href="#spotify-slider" class="carousel-control-prev" data-slide="prev" role="button">
              <span class="carousel-control-prev-icon">  </span>
          </a>
          <a href="#spotify-slider" class="carousel-control-next" data-slide="next" role="button">
              <span class="carousel-control-next-icon">  </span>
          </a>
      </div>
    </div>
</section>

<section class="py-5" > 
Bölüm-2 
</section>

<section class="bg-yellow py-5" > 
Bölüm-3  
</section>

<section class=" py-5" > 
Bölüm-4  
</section>

<section class="bg-yellow py-5" > 
Bölüm-5  
</section>
