<section class="bg-yellow py-6" > 
    <div class="container"> 

        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner text-center" style="height:300px">
                <div class="carousel-item active">
                    <h1 class="display-3">Premium'a geç. Mutlu ol.</h1>
                    <p>Premium'un sesi inanılmazdır. Tüm cihazlarında reklamsız müziğin tadını çıkar.*<br>
                    <a href="#" class="btn btn-success">Premium'u Edin</a>

                </div>
            <div class="carousel-item" >
              <h1 class="display-3">HERKES İÇİN MÜZİK</h1>
              <a href="#" class="btn btn-success">SPOTİFY'I ÜCRETSİZ OLARAK AL</a>
                <a href="#" class="btn btn-outline-secondary">SPOTİFY PREMİUM'A GEÇ</a>

            </div>
            <div class="carousel-item">
                 <h1 class="display-3">TÜM AİLEN İÇİN PREMİUM <BR>SADECE 20,99TL</h1>
                 <a href="#" class="btn btn-success">DAHA FAZLA BİLGİ</a>
            </div>
             <div class="carousel-item">
                 <h1 class="display-3">ÖĞRENCİLER %50 PREMİUM<BR> İNDİRİMİ ALIR</h1>
                 <a href="#" class="btn btn-success">DAHA FAZLA BİLGİ</a>
            </div>
            <div class="carousel-item">
                 <h1 class="display-3">Müzik mi arıyorsun?<BR></H1><P>Yakın geçmişte çaldıklarına tam bıraktığın yerde başla.

<P>
                 <a href="#" class="btn btn-success">WEB PLAYER'I BAŞLAT</a>
            </div>
            </div>
         <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
         </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
             </a>
        </div>
    </div>
</section>