{% extends "layout.html" %}
{% block body %}
<h3>Burası Hakkımızda Sayfası</h3>
<hr>
<div class="container p-3 my-3 bg-dark text-white">Merhaba Ben Mert Ekici, <br> 1987 yılında Ankarada  Doğdum
ilkokul ve ortaokulu Tevfik Ünsal İlköğretim Okulunda okudum.(1993-2001) Liseyi ise Ankara Demetevlerdeki 
ÖZel Aziziye Lisesinde Okudum.(2001-2004) Son sınıfta girdiğim Öss Sınavından 340 puan alarak o yıllardaki popüler
bir bölüm olan Ankara Üniversitesi Bilgisayar ve Öğretim Teknolojileri Eğitimi bölümüne yani kısaca 
bilgisayar öğretmendiği bölümüne başladım. 2008 Yılında Kpss sınavından 85 puan alarak Çankırı Bayramören
Nevzat Ayaz Yatılı İlköğretim Bölge Okuluna Atandım.2010 yılında hayatımı bayramörende tanıştığım Hatice Öztürk Ekici ile birleştirerek
45 gün sonra Askere Gittim :) ASkerliğimi Yedek Subay olarak Eğirdir Dağ Komando Okulunda eğitim alarak Şırnak Seslice
de tamamladım. 2013 yılında ise hala yaşamakta olduğum Kdz Ereğliye tayin oldum. Bu süreçte Atatürk Ortaokulunda iken
Kdz. Ereğli İbrahim Süheyla İzmirli Fen Lisesine başladım.(2018) 2019 yılı Ekim Ayında Kodlazon İLçe koordinatör yardımcılı 
görevine getirildim.2020 Mart Ayında bu görevimden zorunlu nedenlerden ötürü ayrılarak tekrar okuluma döndüm. 


  </div>
{% endblock body %}