{% extends "layout.html" %}
{% block body %}
    <h1> Burası Kayıt Sayfası</h1>
    {% from "includes/formhelpers.html" import render_field %}
<form method="post">
  <dl>
    {{ render_field(form.name,class="form-control") }}
    {{ render_field(form.username,class="form-control") }}
    {{ render_field(form.eposta,class="form-control") }}
    {{ render_field(form.password,class="form-control") }}
    {{ render_field(form.confirm,class="form-control" )}}
  </dl>
  <p><button type="submit" class="btn btn-success">KAyıt ol</button>

  
</form>
{% endblock body %}
